replacement of retPath by "links"

as part of #78, the retrievalPath field is also rejected in preference for a complete URL for use by APIs.
The STAC standard is referenced as a model, with their "links" field.


Instead of a component catentated together to create an unambiguous url, the "links" mechanism proposes a set of links with relations.  Each link is expected to have a relation (link-relation) with message. Which link relation is used to designate a retrieval URL? Is it always the same? or will it vary in different situations?  I think people are currently proposing "canonical" as the link relation to use.


@josusky @tomkralidis  
* what relation should the link use?  
* Do we profile so that only that relation is permitted, or do we need to permit other links?

my current v04 prototype is missing the links field because I don't know what links should contain yet.


( for reference: https://www.iana.org/assignments/link-relations/link-relations.xhtml )


I can't find any standard source for "links"... it's not part of JSON or GeoJSON... I guess it is from STAC? 
https://github.com/radiantearth/stac-spec/blob/master/best-practices.md#use-of-links


ok reading the above... "alternate" is for alternate forms (e.g. TAC vs. BUFR) so not "duplicate" would appear more appropriate for cache links.


> The example from ET-AT specifies a "canonical" relation, but it isn't clear if that is an example, or a specification. the ET-AT design has caches... will the links supplied by caches also be _canonical_ ? or perhaps: _alternate_, _duplicate_ or ... can compliant clients simply take the first listed in link in links, or do they have to pay attention to "rel" and if so what are the rules for deciding among multiple links with different rel?

This depends on data policy [core/recommended], or other considerations (i.e. satellite data too heavy to be cached) to decide whether the data is cached, or not.  If the data is cached, then `rel=canonical` is the cache, else the upstream/originating source is `rel=canonical`.

> I can't find any standard source for "links"... it's not part of JSON or GeoJSON... I guess it is from STAC? https://github.com/radiantearth/stac-spec/blob/master/best-practices.md#use-of-links

See discussion in https://gist.github.com/tomkralidis/bcd7067b02e5321478ff219d3edf9cd5?permalink_comment_id=4145491#gistcomment-4145491

followup... away of reducing from n**2, would be to, using examples of other messages in the set:
* p0c1c2c3nc,   p0c1c3c2nc.

For all practical purposes these messages are identical, consider them as such.  They should be assigned different message id's according to current specification ET-AT.   That's also what we want?

>> @tomkralidis That's not helpful... I'm asking for what standard is being referenced. Does this mean there is no standard being referenced, and links is an invention for this application? at which point I fail to understand the interop argument.

As mentioned we are leveraging the OGC standards for links.  OGC API - Features provides a link model which is based on OGC API - Common (http://docs.ogc.org/DRAFTS/19-072.html#link-conventions).

That last link is very helpful. Thanks!

Why does the OGC-API standard refer both to RFC-8288 and provide it's own yaml schema in the next paragraph for the same information? It is redundant, and leaves things open to conflict.  Which one takes priority?

For example, reading through RFC8288:
* https://datatracker.ietf.org/doc/html/rfc8288#appendix-B.2 8 

```

       8.   Let target_uri be the result of relatively resolving (as per
            [RFC3986], Section 5.2) target_string.  Note that any base
            URI carried in the payload body is NOT used.

       11.  Let context_string be the second item of the first tuple of
            link_parameters whose first item matches the string
            "anchor".  If it is not present, context_string is the URL
            of the representation carrying the Link header [RFC7231],
            Section 3.1.4.1, serialised as a URI.  Where the URL is
            anonymous, context_string is null.

      12.  Let context_uri be the result of relatively resolving (as
            per [RFC3986], Section 5.2) context_string, unless
            context_string is null, in which case context is null.  Note
            that any base URI carried in the payload body is NOT used.
 
...

so a link formatted as: 
```

{  "anchor":"https://hpfx.collab.science.gc.ca/A/B",
    "href": "C/D/hello.txt", 
   "rel":"canonical" 
}

```


For better understanding...
Example:
1) WIS2 Data Producer Center publish messages with link to their target with rel=canonical
2) WIS2 Global Caches re-publish the message with cache link for download with rel=canonical 
- also including original link as rel=original ?
3) WIS2 Message Broker re-publish all messages not modified (as received from subscriptions to Global Caches AND as received from Producer Centers)
4) NO WIS2 Center should re-publish modified messages
- if there are special agreements with partners that e.g. publish is to be taken over, message is published only by this WIS2 Center as rel=original

All subscribers should use the link with rel=canonical for automated download (standard case)

How would you design messages for data in different download formats? 
1) should a separate message be created for each download format?
2) OR should the message contain further links with "rel": "alternate" and the respective other type value?

With 2 less messages are transmitted but therefore more logic in the client would be necessary...

I am getting confused here. The list at [https://defs.opengis.net/vocprez/object?uri=http%3A//www.opengis.net/def/rel] shows some other options. To me, the most suitable seems "data" (aka "http://www.opengis.net/def/rel/ogc/1.0/data"). That would allow publishing notifications about data available in multiple formats at once like this:
```
"links": [
    {
      "href": "http://www.example.com/data/4Pubsub/my-data.bufr",
      "rel": "http://www.opengis.net/def/rel/ogc/1.0/data",
      "type": "application/x-bufr"
    },
    {
      "href": "http://www.example.com/data/4Pubsub/my-data.json",
      "rel": "http://www.opengis.net/def/rel/ogc/1.0/data",
      "type": "application/json"
    }
  ]
```
Of course, we may decide to allow only one "data" link in our profile. But how do these OGC link "rel" types interoperate with the [IANA registered types](https://www.iana.org/assignments/link-relations/link-relations.xhtml), that is with "canonical", "duplicate", "alternate" etc.? 

There is a new format here:

https://github.com/wmo-im/wis2-notification-message

Should all discussion of message format transition there?


Sorry, I did not notice that proposal. It would be nice to work in one repository, preferably in this one, that is https://github.com/wmo-im/GTStoWIS2/tree/main/message_format. I created a [PR](https://github.com/wmo-im/GTStoWIS2/pull/96) there earlier today. 

no worries... I´m asking ET-AT to clarify what they are expecting tt-protocols to do. Given all this replacement proposal, I´m probably going to pause the committee work for now.
